

.main {
  background-color: lightskyblue;
  height: 100%;
  font-family:'Courier New', Courier, monospace;
}

.container {
    color: black;
    text-align: center;

    width: 80%;
    margin: 0 auto;
}

.container__title {
    color: black;
    margin: 0;
    padding-top: 60px;
}

.container__inputs {
    margin-top: 100px;
    outline: 1px solid black;
}

.container__input {
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container__input_type_product {
    width: 50%;

    background-color: inherit;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    padding: 0;
}

.container__input_type_amount {
    width: 20%;

    background-color: inherit;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    padding: 0;
    margin-left: 10px;
}

.container__add-button {
    height: 30px;
    background-color: transparent;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 10%;
    padding: 0;
    border: 1px solid black;
    margin-left: 10px;
}

.container__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
}

.container__column {
    width: 48%;
    height: fit-content;
    outline: 1px solid blue;
    border-radius: 30px;
    min-height: 700px;
}

.container__card {
  width: 80%;
  height: 100px;
  margin-top: 30px;
  background-color: mediumaquamarine;
  border-radius: 50px;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container__card-product {
  margin: 0;
  width: fit-content;
  width: 56%;
  border-radius: 50px 0 0 50px;
  margin: auto 0;
  padding: 0 12%;
  word-wrap: break-word;
}

.container__card-amount {
  margin: 0;
  width: fit-content;
  width: 20%;
  border-radius: 0 50px 50px 0;
  margin: auto 0;
  padding: 40px 0;
  background-color: aquamarine;
}

.container__card-amount_type_obtained {
  background-color: red;
}



.container__obtained-button {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: unset;
  position: absolute;
  top: 5px;
  right: -60px;
  border: 1px solid black;
  border-radius: 50px;
}

.container__obtained-button_inactive {
  display: none;
}



.container__return-button {
  display: block;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: unset;
  position: absolute;
  top: 5px;
  right: -60px;
  border: 1px solid black;
  border-radius: 50px;
}

.container__return-button_inactive {
  display: none;
}

.container__obtained-image {
  width: 95%;
  height: 95%;
  cursor: pointer;
}

.container__return-image {
  width: 60%;
  height: 60%;
  cursor: pointer;
}



.container__delete-button {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: unset;
  position: absolute;
  bottom: 5px;
  right: -60px;
  border: 1px solid black;
  border-radius: 40px;
}

.container__delete-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.container__card_type_obtained {
  background-color: tomato;
  opacity: .5;
}
